@{
    ViewBag.Title = "Home Page";
}
<body id="homepage">
    <div class="jumbotron">
        <img src="../../Content/Assets/LogoMakr_7YRnxs.png" class="img-responsive" id="mylogo" alt="logo" />
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../../Content/Assets/board-build-carpentry-1598213.jpg" alt="construction">
                <div class="caption">
                    <h3>Store Builder</h3>
                    <p>Increase your market by building stores in new locations!</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p><a href="@Url.Action("Index", "Store")" class="btn btn-primary" role="button">Stores</a></p>
                    }
                    else
                    {
                        <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary" role="button">Stores</a></p>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../../Content/Assets/pexels-photo-289831.jpeg" alt="products">
                <div class="caption">
                    <h3>Craft Products</h3>
                    <p>Sell more things by crafting new products to be sold in your stores!</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p><a href="@Url.Action("Index", "Product")" class="btn btn-primary" role="button">Products</a></p>
                    }
                    else
                    {
                        <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary" role="button">Products</a></p>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../../Content/Assets/basket-box-boxes-5879.jpg" alt="inventory">
                <div class="caption">
                    <h3>Stock Inventory</h3>
                    <p>Keep your stores stocked by updating and adding new inventories!</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p><a href="@Url.Action("Index", "Inventory")" class="btn btn-primary" role="button">Inventories</a></p>
                    }
                    else
                    {
                        <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary" role="button">Inventories</a></p>
                    }
                </div>
            </div>
        </div>
    </div>
</body>